twitch:
    clientId: "Your client ID from Twitch app"
    clientSecret: "Your client secret from Twitch app"
    redirectURL: "Your redirect URL from twitch APP (used for authorization OAUTH2)"
    errorRedirectURL: "Your landing / script error page"
    successRedirectURL: "Your landing / script success page"
    scopes:
        - user_subscriptions
        - channel_subscriptions
        - channel_read
        - channel_feed_read
        - user_blocks_read
        - user_read
        - viewing_activity_read
    request:
        url: https://api.twitch.tv/kraken
        headers:
            Accept: "application/vnd.twitchtv.v5+json"

database:
    aggregation:
        user: "user"
        password: "password"
        url: "url"
        port: 3306
        name: "Database name"
    activity:
        user: "user"
        password: "password"
        url: "url"
        port: 3306
        name: "Database name"

webserver:
    domain: localhost
    port: 8080

log:
    state: false
    key:
    verborse: false
