<h1>Twitch Connector</h1>

{{ if .Error }}
    <div class="error">{{.Error}}</div>
{{ end }}

<form action="{{.Settings.TwitchRequestSettings.URL}}/oauth2/authorize">
    <input type="hidden" name="client_id" value="{{.Settings.ClientID}}">
    <input type="hidden" name="redirect_uri" value="{{.Settings.RedirectURL}}">
    <input type="hidden" name="response_type" value="code">
    <input type="hidden" name="scope" value="user_subscriptions channel_subscriptions channel_read channel_feed_read user_blocks_read user_read viewing_activity_read">
    <input type="submit" value="Submit">
</form>
